Repository wirepas/backend-apis, pull requests merged in 2019-10, with the labels that each got.

#52 Gateway API tests
  .ci/releases.sh
  .travis.yml
  wrappers/python/examples/create_gateway_messages.py
  wrappers/python/tests/default_value.py
  wrappers/python/tests/run_all_examples.sh
  wrappers/python/tests/test_get_configs.py
  wrappers/python/tests/test_get_gw_info.py
  wrappers/python/tests/test_get_scratchpad_status.py
  wrappers/python/tests/test_process_scratchpad.py
  wrappers/python/tests/test_received_data.py
  wrappers/python/tests/test_send_data.py
  wrappers/python/tests/test_set_config.py
  wrappers/python/tests/test_status.py
  wrappers/python/tests/test_upload_scratchpad.py
  wrappers/python/tests/test_wnt_proto_interface.py
  wrappers/python/tests/test_wpe_proto_interface.py
  wrappers/python/wirepas_messaging/gateway/api/test/__init__.py
Labels: apis/gateway, wrapper/python

#56 Addressing pylint issues
  wrappers/python/wirepas_messaging/__init__.py
  wrappers/python/wirepas_messaging/gateway/api/event.py
  wrappers/python/wirepas_messaging/gateway/api/gateway_result_code.py
  wrappers/python/wirepas_messaging/gateway/api/otap_helper.py
  wrappers/python/wirepas_messaging/gateway/api/request.py
  wrappers/python/wirepas_messaging/gateway/api/response.py
  wrappers/python/wirepas_messaging/gateway/api/wirepas_exceptions.py
  wrappers/python/wirepas_messaging/nanopb/__init__.py
Labels: wrapper/python

#64 Fix black format for wnt sources
  wrappers/python/examples/wnt/applicationconfiguration.py
  wrappers/python/examples/wnt/authentication.py
  wrappers/python/examples/wnt/building.py
  wrappers/python/examples/wnt/componentsinformation.py
  wrappers/python/examples/wnt/filehelper.py
  wrappers/python/examples/wnt/floorplan.py
  wrappers/python/examples/wnt/floorplanarea.py
  wrappers/python/examples/wnt/network.py
  wrappers/python/examples/wnt/node.py
  wrappers/python/examples/wnt/nodedatamessage.py
  wrappers/python/examples/wnt/realtimedata.py
  wrappers/python/examples/wnt/scratchpadstatus.py
  wrappers/python/wirepas_messaging/wnt/ws_api/__init__.py
  wrappers/python/wirepas_messaging/wnt/ws_api/nodedatamessagemessages.py
Labels: apis/wnt, wrapper/python

#65 Update README.md
  wrappers/python/README.md
Labels: documentation

#68 Fix wnt examples imports and requirements
  wrappers/python/examples/wnt/__init__.py
  wrappers/python/examples/wnt/applicationconfiguration.py
  wrappers/python/examples/wnt/authentication.py
  wrappers/python/examples/wnt/building.py
  wrappers/python/examples/wnt/componentsinformation.py
  wrappers/python/examples/wnt/floorplan.py
  wrappers/python/examples/wnt/floorplanarea.py
  wrappers/python/examples/wnt/network.py
  wrappers/python/examples/wnt/node.py
  wrappers/python/examples/wnt/nodedatamessage.py
  wrappers/python/examples/wnt/realtimedata.py
  wrappers/python/examples/wnt/requirements.txt
  wrappers/python/examples/wnt/scratchpadstatus.py
Labels: apis/wnt, wrapper/python

#70 WNT Test server credentials
  .ci/create_settings.sh
  .ci/install.sh
  .ci/settings-template.yml
  .gitignore
  .travis.yml
  settings.yml
  wrappers/python/.gitignore
  wrappers/python/examples/wnt/utils.py
  wrappers/python/requirements.txt
  wrappers/python/tests/gateway/default_value.py
  wrappers/python/tests/gateway/test_get_configs.py
  wrappers/python/tests/gateway/test_get_gw_info.py
  wrappers/python/tests/gateway/test_get_scratchpad_status.py
  wrappers/python/tests/gateway/test_process_scratchpad.py
  wrappers/python/tests/gateway/test_received_data.py
  wrappers/python/tests/gateway/test_send_data.py
  wrappers/python/tests/gateway/test_set_config.py
  wrappers/python/tests/gateway/test_status.py
  wrappers/python/tests/gateway/test_upload_scratchpad.py
  wrappers/python/tests/gateway/test_wnt_proto_interface.py
  wrappers/python/tests/gateway/test_wpe_proto_interface.py
  wrappers/python/tests/requirements.txt
  wrappers/python/tests/wnt/utils.py
Labels: apis/wnt, integration/travis, wrapper/tests

#66 Update LICENSE.txt and 2018 to LICENSE and 2019
  wnt/protocol_buffers_files/commons.proto
  wnt/protocol_buffers_files/internal.proto
  wnt/protocol_buffers_files/message.proto
  wnt/protocol_buffers_files/otap.proto
  wnt/protocol_buffers_files/positioning.proto
  wnt/protocol_buffers_files/remote_api.proto
  wrappers/python/examples/wnt/__init__.py
  wrappers/python/examples/wnt/applicationconfiguration.py
  wrappers/python/examples/wnt/authentication.py
  wrappers/python/examples/wnt/building.py
  wrappers/python/examples/wnt/componentsinformation.py
  wrappers/python/examples/wnt/connections.py
  wrappers/python/examples/wnt/filehelper.py
  wrappers/python/examples/wnt/floorplan.py
  wrappers/python/examples/wnt/floorplanarea.py
  wrappers/python/examples/wnt/network.py
  wrappers/python/examples/wnt/node.py
  wrappers/python/examples/wnt/nodedatamessage.py
  wrappers/python/examples/wnt/realtimedata.py
  wrappers/python/examples/wnt/scratchpadstatus.py
  wrappers/python/examples/wnt/utils.py
  wrappers/python/tests/wnt/__init__.py
  wrappers/python/tests/wnt/connections.py
  wrappers/python/tests/wnt/messages/__init__.py
  wrappers/python/tests/wnt/messages/createuser.py
  wrappers/python/tests/wnt/messages/deleteuser.py
  wrappers/python/tests/wnt/messages/login.py
  wrappers/python/tests/wnt/messages/queryusers.py
  wrappers/python/tests/wnt/messages/updateuser.py
  wrappers/python/tests/wnt/test_approvemultiplenodes.py
  wrappers/python/tests/wnt/test_createuser.py
  wrappers/python/tests/wnt/test_deleteuser.py
  wrappers/python/tests/wnt/test_login.py
  wrappers/python/tests/wnt/test_queryusers.py
  wrappers/python/tests/wnt/test_updateuser.py
  wrappers/python/tests/wnt/utils.py
  wrappers/python/wirepas_messaging/wnt/__init__.py
  wrappers/python/wirepas_messaging/wnt/ws_api/__init__.py
  wrappers/python/wirepas_messaging/wnt/ws_api/applicationconfigurationmessages.py
  wrappers/python/wirepas_messaging/wnt/ws_api/areamessages.py
  wrappers/python/wirepas_messaging/wnt/ws_api/authenticationmessages.py
  wrappers/python/wirepas_messaging/wnt/ws_api/buildingmessages.py
  wrappers/python/wirepas_messaging/wnt/ws_api/componentsinformationmessages.py
  wrappers/python/wirepas_messaging/wnt/ws_api/floorplanmessages.py
  wrappers/python/wirepas_messaging/wnt/ws_api/messagesbase.py
  wrappers/python/wirepas_messaging/wnt/ws_api/networkmessages.py
  wrappers/python/wirepas_messaging/wnt/ws_api/nodedatamessagemessages.py
  wrappers/python/wirepas_messaging/wnt/ws_api/nodemessages.py
  wrappers/python/wirepas_messaging/wnt/ws_api/realtimesituationmessages.py
  wrappers/python/wirepas_messaging/wnt/ws_api/scratchpadstatusmessages.py
Labels: apis/wnt, wrapper/python

#73 Fix WNT examples settings file path default value
  wrappers/python/examples/wnt/utils.py
  wrappers/python/tests/wnt/utils.py
Labels: apis/wnt, wrapper/python

#75 Do not print socket errors if connection is closed in WNT examples or tests
  wrappers/python/examples/wnt/applicationconfiguration.py
  wrappers/python/examples/wnt/authentication.py
  wrappers/python/examples/wnt/building.py
  wrappers/python/examples/wnt/componentsinformation.py
  wrappers/python/examples/wnt/floorplan.py
  wrappers/python/examples/wnt/floorplanarea.py
  wrappers/python/examples/wnt/network.py
  wrappers/python/examples/wnt/node.py
  wrappers/python/examples/wnt/nodedatamessage.py
  wrappers/python/examples/wnt/realtimedata.py
  wrappers/python/examples/wnt/scratchpadstatus.py
  wrappers/python/tests/wnt/test_approvemultiplenodes.py
  wrappers/python/tests/wnt/test_createuser.py
  wrappers/python/tests/wnt/test_deleteuser.py
  wrappers/python/tests/wnt/test_login.py
  wrappers/python/tests/wnt/test_queryusers.py
  wrappers/python/tests/wnt/test_updateuser.py
Labels: apis/wnt, wrapper/python

#74 Fix logging level evaluation in WNT tests and examples
  wrappers/python/examples/wnt/utils.py
  wrappers/python/tests/wnt/utils.py
Labels: apis/wnt, wrapper/python

#76 WNT changes for v1.3.0
  wrappers/python/examples/wnt/applicationconfiguration.py
  wrappers/python/examples/wnt/authentication.py
  wrappers/python/examples/wnt/building.py
  wrappers/python/examples/wnt/componentsinformation.py
  wrappers/python/examples/wnt/floorplan.py
  wrappers/python/examples/wnt/floorplanarea.py
  wrappers/python/examples/wnt/network.py
  wrappers/python/examples/wnt/node.py
  wrappers/python/examples/wnt/nodedatamessage.py
  wrappers/python/examples/wnt/realtimedata.py
  wrappers/python/examples/wnt/requirements.txt
  wrappers/python/examples/wnt/scratchpadstatus.py
  wrappers/python/examples/wnt/utils.py
  wrappers/python/requirements.txt
  wrappers/python/tests/requirements.txt
  wrappers/python/tests/wnt/test_approvemultiplenodes.py
  wrappers/python/tests/wnt/test_createuser.py
  wrappers/python/tests/wnt/test_deleteuser.py
  wrappers/python/tests/wnt/test_login.py
  wrappers/python/tests/wnt/test_queryusers.py
  wrappers/python/tests/wnt/test_updateuser.py
  wrappers/python/tests/wnt/utils.py
Labels: apis/wnt, wrapper/python

#82 Add connected check before calling close on websocket in WNT examples and tests
  wrappers/python/examples/wnt/connections.py
  wrappers/python/tests/wnt/connections.py
Labels: apis/wnt, wrapper/python

#81 Add information about the examples to the main readme
  wrappers/python/README.md
Labels: apis/wnt, packaging, wrapper/python

#83 Change pypi deployments to custom script
  .ci/deploy-pypi.sh
  .travis.yml
Labels: integration/travis

#84 Fix changelog and dist path in Travis pipeline
  .ci/deploy-pypi.sh
  .travis.yml
Labels: integration/travis

#85 Remove pipfiles
  wrappers/python/.gitignore
  wrappers/python/Pipfile
  wrappers/python/Pipfile.lock
Labels: wrapper/python
