Repository wirepas/backend-apis, pull requests merged in 2019-09, with the labels that each got.

#43 Build enhancements
  .ci/build.sh
  .ci/install-requirements.sh
  .ci/install.sh
  .travis.yml
  wrappers/python/tests/run_all_examples.sh
  wrappers/python/utils/compile_protos.sh
  wrappers/python/utils/generate_wheel.sh
  wrappers/python/utils/pull_protos.sh
Labels: ci/travis, wrapper/python

#39 Add image width and height for WNT floor plan message
  wrappers/python/wirepas_messaging/wnt/ws_api/floorplanmessages.py
  wrappers/python/wirepas_messaging/wnt/ws_api/messagesbase.py
Labels: apis/wnt

#46 Move WPE protos
  .gitignore
  gateway_to_backend/test/proto/config_message_pb2.py
  gateway_to_backend/test/proto/data_message_pb2.py
  gateway_to_backend/test/proto/error_pb2.py
  gateway_to_backend/test/proto/generic_message_pb2.py
  gateway_to_backend/test/proto/nanopb_pb2.py
  gateway_to_backend/test/proto/otap_message_pb2.py
  gateway_to_backend/test/proto/wp_global_pb2.py
  wpe/protocol_buffers_files/public.proto
  wrappers/python/utils/pull_protos.sh
  wrappers/python/wirepas_messaging/nanopb/nanopb_pb2.py
  wrappers/python/wirepas_messaging/nanopb/nanopb_pb2_grpc.py
  wrappers/python/wirepas_messaging/wpe/public_pb2.py
  wrappers/python/wirepas_messaging/wpe/public_pb2_grpc.py
Labels: apis/wpe

#42 Add query scratchpad status message to WNT messages
  wrappers/python/wirepas_messaging/wnt/ws_api/__init__.py
  wrappers/python/wirepas_messaging/wnt/ws_api/messagesbase.py
  wrappers/python/wirepas_messaging/wnt/ws_api/scratchpadstatus.py
Labels: apis/wnt

#41 Add components' information message to WNT messages
  wrappers/python/wirepas_messaging/wnt/ws_api/__init__.py
  wrappers/python/wirepas_messaging/wnt/ws_api/componentsinformation.py
  wrappers/python/wirepas_messaging/wnt/ws_api/messagesbase.py
Labels: apis/wnt

#44 Add short desciption and compatibility list to WNT init.py
  wrappers/python/wirepas_messaging/__init__.py
Labels: apis/wnt

#51 Black pass
  wrappers/python/examples/create_gateway_messages.py
  wrappers/python/examples/create_wnt_messages.py
  wrappers/python/examples/create_wpe_messages.py
  wrappers/python/wirepas_messaging/__main__.py
  wrappers/python/wirepas_messaging/gateway/api/test/default_value.py
  wrappers/python/wirepas_messaging/gateway/api/test/test_get_configs.py
  wrappers/python/wirepas_messaging/gateway/api/test/test_get_gw_info.py
  wrappers/python/wirepas_messaging/gateway/api/test/test_get_scratchpad_status.py
  wrappers/python/wirepas_messaging/gateway/api/test/test_process_scratchpad.py
  wrappers/python/wirepas_messaging/gateway/api/test/test_received_data.py
  wrappers/python/wirepas_messaging/gateway/api/test/test_send_data.py
  wrappers/python/wirepas_messaging/gateway/api/test/test_set_config.py
  wrappers/python/wirepas_messaging/gateway/api/test/test_status.py
  wrappers/python/wirepas_messaging/gateway/api/test/test_upload_scratchpad.py
  wrappers/python/wirepas_messaging/wnt/ws_api/applicationconfigurationmessages.py
  wrappers/python/wirepas_messaging/wnt/ws_api/areamessages.py
  wrappers/python/wirepas_messaging/wnt/ws_api/authenticationmessages.py
  wrappers/python/wirepas_messaging/wnt/ws_api/buildingmessages.py
  wrappers/python/wirepas_messaging/wnt/ws_api/componentsinformation.py
  wrappers/python/wirepas_messaging/wnt/ws_api/floorplanmessages.py
  wrappers/python/wirepas_messaging/wnt/ws_api/messagesbase.py
  wrappers/python/wirepas_messaging/wnt/ws_api/networkmessages.py
  wrappers/python/wirepas_messaging/wnt/ws_api/nodemessages.py
  wrappers/python/wirepas_messaging/wnt/ws_api/realtimesituationmessages.py
  wrappers/python/wirepas_messaging/wnt/ws_api/scratchpadstatus.py
Labels: wrapper/python

#48 Travis: Style check
  .ci/style-check.sh
  .gitattributes
  wrappers/python/setup.py
  wrappers/python/wirepas_messaging/__init__.py
  wrappers/python/wirepas_messaging/__main__.py
  wrappers/python/wirepas_messaging/gateway/__init__.py
  wrappers/python/wirepas_messaging/gateway/api/__init__.py
  wrappers/python/wirepas_messaging/gateway/api/config_helper.py
  wrappers/python/wirepas_messaging/gateway/api/event.py
  wrappers/python/wirepas_messaging/gateway/api/gateway_result_code.py
  wrappers/python/wirepas_messaging/gateway/api/get_configs.py
  wrappers/python/wirepas_messaging/gateway/api/get_gw_info.py
  wrappers/python/wirepas_messaging/gateway/api/get_scratchpad_status.py
  wrappers/python/wirepas_messaging/gateway/api/otap_helper.py
  wrappers/python/wirepas_messaging/gateway/api/process_scratchpad.py
  wrappers/python/wirepas_messaging/gateway/api/received_data.py
  wrappers/python/wirepas_messaging/gateway/api/request.py
  wrappers/python/wirepas_messaging/gateway/api/response.py
  wrappers/python/wirepas_messaging/gateway/api/send_data.py
  wrappers/python/wirepas_messaging/gateway/api/set_config.py
  wrappers/python/wirepas_messaging/gateway/api/status.py
  wrappers/python/wirepas_messaging/gateway/api/test/__init__.py
  wrappers/python/wirepas_messaging/gateway/api/test/default_value.py
  wrappers/python/wirepas_messaging/gateway/api/test/test_get_configs.py
  wrappers/python/wirepas_messaging/gateway/api/test/test_get_gw_info.py
  wrappers/python/wirepas_messaging/gateway/api/test/test_get_scratchpad_status.py
  wrappers/python/wirepas_messaging/gateway/api/test/test_process_scratchpad.py
  wrappers/python/wirepas_messaging/gateway/api/test/test_received_data.py
  wrappers/python/wirepas_messaging/gateway/api/test/test_send_data.py
  wrappers/python/wirepas_messaging/gateway/api/test/test_set_config.py
  wrappers/python/wirepas_messaging/gateway/api/test/test_status.py
  wrappers/python/wirepas_messaging/gateway/api/test/test_upload_scratchpad.py
  wrappers/python/wirepas_messaging/gateway/api/upload_scratchpad.py
  wrappers/python/wirepas_messaging/gateway/api/wirepas_exceptions.py
  wrappers/python/wirepas_messaging/nanopb/__init__.py
  wrappers/python/wirepas_messaging/wnt/__init__.py
  wrappers/python/wirepas_messaging/wnt/ws_api/__init__.py
  wrappers/python/wirepas_messaging/wnt/ws_api/applicationconfigurationmessages.py
  wrappers/python/wirepas_messaging/wnt/ws_api/areamessages.py
  wrappers/python/wirepas_messaging/wnt/ws_api/authenticationmessages.py
  wrappers/python/wirepas_messaging/wnt/ws_api/buildingmessages.py
  wrappers/python/wirepas_messaging/wnt/ws_api/componentsinformationmessages.py
  wrappers/python/wirepas_messaging/wnt/ws_api/floorplanmessages.py
  wrappers/python/wirepas_messaging/wnt/ws_api/messagesbase.py
  wrappers/python/wirepas_messaging/wnt/ws_api/networkmessages.py
  wrappers/python/wirepas_messaging/wnt/ws_api/nodemessages.py
  wrappers/python/wirepas_messaging/wnt/ws_api/realtimesituationmessages.py
  wrappers/python/wirepas_messaging/wnt/ws_api/scratchpadstatusmessages.py
  wrappers/python/wirepas_messaging/wpe/__init__.py
Labels: ci/travis, wrapper/python

#57 Send node pixel position only with WNT protocol version 2
  wrappers/python/wirepas_messaging/wnt/ws_api/nodemessages.py
Labels: apis/wnt, wrapper/python

#58 Add WNT API examples
  .gitattributes
  wrappers/python/examples/wnt/.gitignore
  wrappers/python/examples/wnt/__init__.py
  wrappers/python/examples/wnt/applicationconfiguration.py
  wrappers/python/examples/wnt/assets/floor_plan.png
  wrappers/python/examples/wnt/assets/floor_plan_thumbnail.png
  wrappers/python/examples/wnt/authentication.py
  wrappers/python/examples/wnt/building.py
  wrappers/python/examples/wnt/componentsinformation.py
  wrappers/python/examples/wnt/filehelper.py
  wrappers/python/examples/wnt/floorplan.py
  wrappers/python/examples/wnt/floorplanarea.py
  wrappers/python/examples/wnt/network.py
  wrappers/python/examples/wnt/node.py
  wrappers/python/examples/wnt/realtimedata.py
  wrappers/python/examples/wnt/requirements.txt
  wrappers/python/examples/wnt/scratchpadstatus.py
  wrappers/python/requirements.txt
Labels: apis/wnt

#62 Add missing doc string to scratchpad status messages
  wrappers/python/wirepas_messaging/wnt/ws_api/scratchpadstatusmessages.py
Labels: apis/wnt, wrapper/python

#61 Add sending of the WNT node data message example
  wrappers/python/examples/wnt/nodedatamessage.py
  wrappers/python/wirepas_messaging/wnt/ws_api/__init__.py
  wrappers/python/wirepas_messaging/wnt/ws_api/nodedatamessagemessages.py
Labels: apis/wnt, wrapper/python
